# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/local.properties

scripts/

*-session.md
test/
.codex/
*.log
/*.png
/tmp/
.claude/
tmp_*.xml
*_options.yaml
*_options.yml
